In [130]:
import ast
import pandas as pd

filmes = pd.read_csv('movies_from_1960_to_2024.csv') #Usando Pandas para ler CSV e armazena numa variável
filmes_df = pd.DataFrame(filmes) #Criando um dataframe com os dados do CSV
display(filmes_df) #Printando os cinco primeiros filmes do dataset

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
0,tt0073195,Jaws,https://www.imdb.com/title/tt0073195,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,...,"['Peter Benchley', 'Carl Gottlieb']","['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...","['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...",['English'],0,20,0
1,tt0073629,The Rocky Horror Picture Show,https://www.imdb.com/title/tt0073629,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,...,"[""Richard O'Brien"", 'Jim Sharman']","['Tim Curry', 'Susan Sarandon', 'Barry Bostwick']","['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']","['Oakley Court, Windsor Road, Oakley Green, Wi...","['Twentieth Century Fox', 'Michael White Produ...",['English'],0,4,0
2,tt0073486,One Flew Over the Cuckoo's Nest,https://www.imdb.com/title/tt0073486,1975,2h 13m,R,8.7,1.1M,3000000.0,109115366.0,...,"['Lawrence Hauben', 'Bo Goldman', 'Ken Kesey']","['Jack Nicholson', 'Louise Fletcher', 'Michael...","['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['Oregon State Mental Hospital - 2600 Center S...,"['Fantasy Films', 'N.V. Zvaluw']",['English'],0,15,0
3,tt0072890,Dog Day Afternoon,https://www.imdb.com/title/tt0072890,1975,2h 5m,R,8.0,279K,1800000.0,50002721.0,...,"['Frank Pierson', 'P.F. Kluge', 'Thomas Moore']","['Al Pacino', 'John Cazale', 'Penelope Allen']","['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],"['285 Prospect Park West, Brooklyn, New York C...","['Warner Bros.', 'Artists Entertainment Complex']",['English'],0,20,0
4,tt0073692,Shampoo,https://www.imdb.com/title/tt0073692,1975,1h 50m,R,6.4,15K,4000000.0,49407734.0,...,"['Robert Towne', 'Warren Beatty']","['Warren Beatty', 'Julie Christie', 'Goldie Ha...","['Satire', 'Comedy', 'Drama']",['United States'],"['2270 Bowmont Drive, Beverly Hills, Californi...","['Persky-Bright / Vista', 'Columbia Pictures',...",['English'],0,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33595,tt0094076,The South,https://www.imdb.com/title/tt0094076,1988,2h 7m,R,7.3,1.1K,NaN,NaN,...,['Fernando E. Solanas'],"['Susú Pecoraro', 'Miguel Ángel Solá', 'Philip...",['Drama'],"['Argentina', 'France']","['Buenos Aires, Federal District, Argentina']","['Canal+', 'Cinesur (Envar El Kadri)', 'Produc...","['Spanish', 'French']",0,2,0
33596,tt0256664,El cabaretero y sus golfas,https://www.imdb.com/title/tt0256664,1988,1h 25m,NaN,4.9,12,NaN,NaN,...,['Raúl Marcelo'],"['Raúl Ramírez', 'Raúl Marcelo', 'Marcela Davi...",['Comedy'],['Mexico'],NaN,NaN,['Spanish'],0,0,0
33597,tt0353261,BraveStarr: The Legend,https://www.imdb.com/title/tt0353261,1988,1h 31m,PG,6.8,1.3K,NaN,NaN,...,"['Bob Forward', 'Steve Hayes']","['Charlie Adler', 'Susan Blu', 'Pat Fraley']","['Superhero', 'Action', 'Adventure', 'Animatio...",['United States'],NaN,['Filmation Associates'],['English'],0,0,0
33598,tt0098474,Fighting Madam 2,https://www.imdb.com/title/tt0098474,1988,1h 30m,NaN,6.3,337,NaN,NaN,...,"['William Hsu', 'Teresa Woo', 'Larry Dolgin']","['Alex Fong', 'Moon Lee', 'Elaine Lui']",['Action'],['Hong Kong'],"['Kuala Lumpur, Malaysia']",['Molesworth Limited'],"['Cantonese', 'Mandarin']",0,0,0
33599,tt0096039,Saturday the 14th Strikes Back,https://www.imdb.com/title/tt0096039,1988,1h 18m,PG,3.1,737,NaN,NaN,...,['Howard R. Cohen'],"['Ray Walston', 'Avery Schreiber', 'Patty McCo...","['Comedy', 'Fantasy', 'Horror', 'Sci-Fi']",['United States'],"['Venice, California, USA']",['Pacific Trust'],['English'],0,0,0

In [131]:
filmes_df.describe() #Método para obter estatísticas descritivas do DataFrame
#filmes_df.describe(include='all') # inclui todas as colunas, até os dados categóricos

,Year,Rating,budget,grossWorldWide,gross_US_Canada,opening_weekend_Gross,wins,nominations,oscars
count,33600.000000,33462.000000,1.181500e+04,1.822200e+04,1.757100e+04,1.552300e+04,33600.0,33600.000000,33600.000000
mean,1992.393631,6.155158,8.454320e+07,3.814961e+07,1.808236e+07,5.110082e+06,0.0,4.850357,0.102619
std,18.957395,1.146070,2.866281e+09,1.210105e+08,4.853181e+07,1.488319e+07,0.0,17.719188,0.508687
min,1960.000000,1.100000,1.000000e+00,1.000000e+00,6.400000e+01,1.100000e+01,0.0,0.000000,0.000000
25%,1976.000000,5.500000,2.000000e+06,1.589938e+05,8.603650e+04,1.399650e+04,0.0,0.000000,0.000000
50%,1993.000000,6.300000,9.000000e+06,2.311544e+06,9.094110e+05,1.075360e+05,0.0,0.000000,0.000000
75%,2009.000000,7.000000,2.700000e+07,2.092931e+07,1.405137e+07,3.772558e+06,0.0,3.000000,0.000000
max,2024.000000,9.600000,3.000000e+11,2.923706e+09,9.366622e+08,3.571150e+08,0.0,433.000000,11.000000

In [132]:
display(filmes_df[['Title', 'oscars']].sort_values(by='oscars', ascending=False).head(10)) #Listando os 10 filmes com mais Oscars do Dataset

                            Title  oscars
24803            The Color Purple      11
518             The Turning Point      11
9962                    True Grit      10
10484           Gangs of New York      10
20116             American Hustle      10
20683  Killers of the Flower Moon      10
14070   The Banshees of Inisherin       9
14011                       Elvis       8
1017             The Sand Pebbles       8
30114      The Remains of the Day       8

In [134]:
display(filmes_df.loc[14006]) #linha 14006
display(filmes_df.loc[filmes_df['Title'] == 'Oppenheimer'])
# .loc[] se assemelha ao WHERE, permite selecionar linhas dada 
# uma determinada condição

id                                                               tt1877830
Title                                                           The Batman
Movie Link                            https://www.imdb.com/title/tt1877830
Year                                                                  2022
Duration                                                            2h 56m
MPA                                                                  PG-13
Rating                                                                 7.8
Votes                                                                 850K
budget                                                         185000000.0
grossWorldWide                                                 772319315.0
gross_US_Canada                                                369345583.0
opening_weekend_Gross                                          134008624.0
directors                                                  ['Matt Reeves']
writers                         ['Matt Reeves', 'Peter Craig', 'Bob Kane']
stars                    ['Robert Pattinson', 'Zoë Kravitz', 'Jeffrey W...
genres                   ['Action Epic', 'Epic', 'Serial Killer', 'Supe...
countries_origin                                         ['United States']
filming_locations           ['Necropolis Cemetery, Glasgow, Scotland, UK']
production_companies     ['Warner Bros.', 'DC Entertainment', '6th & Id...
Languages                       ['English', 'Spanish', 'Latin', 'Italian']
wins                                                                     0
nominations                                                            185
oscars                                                                   3
Name: 14006, dtype: object

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
20654,tt15398776,Oppenheimer,https://www.imdb.com/title/tt15398776,2023,3h,R,8.3,834K,100000000.0,975594978.0,...,"['Christopher Nolan', 'Kai Bird', 'Martin Sher...","['Cillian Murphy', 'Emily Blunt', 'Matt Damon']","['Docudrama', 'Epic', 'Historical Epic', 'Peri...","['United States', 'United Kingdom']","['Los Alamos, New Mexico, USA']","['Universal Pictures', 'Atlas Entertainment', ...","['English', 'German', 'Italian', 'Dutch']",0,369,0

In [135]:
display(filmes_df.sort_values(by = 'Year', ascending=False).head(5)) #ordenando pelo ano mais recente

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
8374,tt1684562,The Fall Guy,https://www.imdb.com/title/tt1684562,2024,2h 6m,PG-13,6.9,193K,125000000.0,181073291.0,...,"['Glen A. Larson', 'Drew Pearce']","['Ryan Gosling', 'Emily Blunt', 'Aaron Taylor-...","['Action', 'Comedy', 'Drama', 'Romance']","['United States', 'Australia', 'Canada']","['Sydney, New South Wales, Australia']","['87North', 'Australian Government', 'Entertai...",['English'],0,33,0
8564,tt28082769,September 5,https://www.imdb.com/title/tt28082769,2024,1h 35m,R,7.1,1.2K,NaN,251835.0,...,"['Moritz Binder', 'Tim Fehlbaum', 'Alex David']","['Peter Sarsgaard', 'John Magaro', 'Ben Chaplin']","['Docudrama', 'Period Drama', 'Tragedy', 'Dram...","['Germany', 'United States']","['Munich, Bavaria, Germany']","['BerghausWöbke Filmproduktion', 'Projected Pi...","['English', 'German']",0,23,0
8570,tt32561659,Bocchi the Rock! Re:,https://www.imdb.com/title/tt32561659,2024,1h 30m,NaN,7.6,121,NaN,3530805.0,...,NaN,"['Yoshino Aoyama', 'Sayumi Suzushiro', 'Saku M...","['Anime', 'Coming-of-Age', 'Seinen', 'Slice of...",['Japan'],NaN,"['Aniplex', 'CloverWorks', 'Houbunsha']",['Japanese'],0,0,0
8569,tt10449276,Get Away,https://www.imdb.com/title/tt10449276,2024,1h 26m,R,5.8,327,NaN,179897.0,...,['Nick Frost'],"['Nick Frost', 'Aisling Bea', 'Sebastian Croft']","['Comedy', 'Horror']",['United Kingdom'],"['Tampere, Finland']","['Big Safari', 'Creativity Capital', 'Inland F...",['English'],0,0,0
8568,tt10850320,Luther: Never Too Much,https://www.imdb.com/title/tt10850320,2024,1h 41m,NaN,8.4,232,NaN,202796.0,...,NaN,"['Jamie Foxx', 'Mariah Carey', 'Luther Vandross']","['Biography', 'Documentary', 'Music']","['United Kingdom', 'United States']",NaN,"['Foxxhole Productions', 'Raindog Films', 'Son...",['English'],0,6,0

In [136]:
display(filmes_df.loc[filmes_df['budget'] >= 10000000000, ['Title', 'budget']].sort_values(by='budget', ascending=False).values) #recuper todos os valores da coluna Title onde os valores na coluna budget são maiores ou iguais a 10 bilhões.

array([['Harbin', 300000000000.0],
       ['Along With the Gods: The Last 49 Days', 35000000000.0],
       ['My Way', 30000000000.0],
       ['Alienoid', 30000000000.0],
       ['The Name of the Rose', 30000000000.0],
       ['The Moon', 28000000000.0],
       ['Escape from Mogadishu', 24000000000.0],
       ['The Spy Gone North', 19000000000.0],
       ['Life Is Beautiful', 15000000000.0],
       ['The Great Battle', 15000000000.0],
       ['The Host', 12215500000.0],
       ['Decibel', 12000000000.0],
       ['Project Wolf Hunting', 12000000000.0],
       ['Train to Busan', 10000000000.0],
       ['The Handmaiden', 10000000000.0]], dtype=object)

In [138]:
budget_df = filmes_df.sort_values(by='budget', ascending=False) #Dataframe destinado para melhor vizualização dos maiores orçamentos dos filmes
#display(filmes_df.head(2))
display(budget_df[['Title', 'budget', 'Year']].head(10))

                                       Title        budget  Year
8597                                  Harbin  3.000000e+11  2024
30782  Along With the Gods: The Last 49 Days  3.500000e+10  2018
14228                               Alienoid  3.000000e+10  2022
4012                                  My Way  3.000000e+10  2011
19685                   The Name of the Rose  3.000000e+10  1986
20958                               The Moon  2.800000e+10  2023
22908                  Escape from Mogadishu  2.400000e+10  2021
30833                     The Spy Gone North  1.900000e+10  2018
30836                       The Great Battle  1.500000e+10  2018
28980                      Life Is Beautiful  1.500000e+10  1997

In [141]:
# Descobrindo os maiores orçamentos dos filmes do maior para o menor
# B -> Bilhões / M -> Milhões / K -> Mil 

def convert_to_str(budget):
    if isinstance(budget, (int, float)):
        
        if budget >= 1_000_000_000:  # Se for maior ou igual a 1 bilhão
            return f"{budget / 1_000_000_000:.1f}B".replace(".0", "")  # Converte para "M"
        
        elif budget >= 1_000_000:  # Se for maior ou igual a 1 milhão
            return f"{budget / 1_000_000:.1f}M".replace(".0", "")  # Converte para "M"
        
        elif budget >= 1_000:  # Se for maior ou igual a 1 milhar
            return f"{budget / 1_000:.1f}K".replace(".0", "")  # Converte para "K"
        
        else:
            return str(float(budget))  #se for menor que 1000 Mantém como float
    return str(budget)  # Se já for string, retorna sem alteração


budget_df['budget'] = budget_df['budget'].apply(convert_to_str) # Aplicando a conversão à coluna "budget"

display(budget_df[['Title', 'budget', 'Year']].head(20))

                                       Title budget  Year
8597                                  Harbin   300B  2024
30782  Along With the Gods: The Last 49 Days    35B  2018
14228                               Alienoid    30B  2022
4012                                  My Way    30B  2011
19685                   The Name of the Rose    30B  1986
20958                               The Moon    28B  2023
22908                  Escape from Mogadishu    24B  2021
30833                     The Spy Gone North    19B  2018
30836                       The Great Battle    15B  2018
28980                      Life Is Beautiful    15B  1997
15310                               The Host  12.2B  2006
14356                   Project Wolf Hunting    12B  2022
14288                                Decibel    12B  2022
23963                         Train to Busan    10B  2016
23965                         The Handmaiden    10B  2016
31511                    Ask Me If I'm Happy     7B  2000
8415                           Kalki 2898 AD     6B  2024
30720                                    2.0   5.7B  2018
20308        The Tale of The Princess Kaguya     5B  2013
14098                Ponniyin Selvan: Part I     5B  2022

In [143]:
# Função que retorna a string que mais se repete em uma coluna de um DataFrame.

def string_mais_repetida(df, coluna):
    
    # Verifica se a coluna existe no DataFrame
    if coluna not in df.columns:
        raise ValueError(f"A coluna '{coluna}' não existe no DataFrame.")

    # Conta a frequência de cada valor na coluna
    contagem = df[coluna].value_counts()
    print(contagem)

    # Retorna a string mais repetida e sua contagem
    string_mais_comum = contagem.idxmax()
    contagem_mais_comum = contagem.max()

    return string_mais_comum, contagem_mais_comum

In [144]:
#Diretores com mais filmes

string, contagem = string_mais_repetida(filmes_df, 'directors')
print(f'\nO diretor com mais filmes desse dataset é {string}, com {contagem} filmes registrados no imdb')

directors
['Jesús Franco']                         82
['Woody Allen']                          46
["Joe D'Amato"]                          43
['Sidney Lumet']                         40
['Clint Eastwood']                       40
                                         ..
['André Michel']                          1
['Alphonse Gimeno', 'Michel Wichard']     1
['Alfred Weidenmann']                     1
['Yûgo Serikawa', 'William Ross']         1
['Tom Tataranowicz']                      1
Name: count, Length: 14520, dtype: int64

O diretor com mais filmes desse dataset é ['Jesús Franco'], com 82 filmes registrados no imdb

In [145]:
filmes_df['directors']

0           ['Steven Spielberg']
1                ['Jim Sharman']
2               ['Milos Forman']
3               ['Sidney Lumet']
4                  ['Hal Ashby']
                  ...
33595    ['Fernando E. Solanas']
33596           ['Raúl Ramírez']
33597       ['Tom Tataranowicz']
33598             ['Teresa Woo']
33599        ['Howard R. Cohen']
Name: directors, Length: 33600, dtype: object

In [ ]:
#Tratando os dado da coluna 'directors', type lista -> str.

filmes_df['directors'] = filmes_df['directors'].fillna('[]') # Substituir NaN por listas vazias
filmes_df['directors'] = filmes_df['directors'].apply(ast.literal_eval)# Converte strings que representam listas em listas reais
filmes_df['directors'] = filmes_df['directors'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None) # Extrai o primeiro nome da lista, se a lista não estiver vazia

In [147]:
filmes_df['directors']

0           Steven Spielberg
1                Jim Sharman
2               Milos Forman
3               Sidney Lumet
4                  Hal Ashby
                ...
33595    Fernando E. Solanas
33596           Raúl Ramírez
33597       Tom Tataranowicz
33598             Teresa Woo
33599        Howard R. Cohen
Name: directors, Length: 33600, dtype: object

In [191]:
# Lista dos filmes de cada diretor ordenando por ano

directorsFilms = filmes_df.loc[
    filmes_df['directors'].str.strip() == 'Steven Spielberg', 
    ['id', 'Title', 'Year', 'budget', 'oscars']
].sort_values(by='Year', ascending=False) #Exemplo: Steven Spielberg

display(directorsFilms)
print(f"total: {len(directorsFilms)} filmes")

,id,Title,Year,budget,oscars
14057,tt14208870,The Fabelmans,2022,40000000.0,7
22782,tt3581652,West Side Story,2021,100000000.0,0
30573,tt1677720,Ready Player One,2018,175000000.0,1
3138,tt6294822,The Post,2017,50000000.0,2
23809,tt3691740,The BFG,2016,140000000.0,1
22288,tt3682448,Bridge of Spies,2015,40000000.0,0
27852,tt0367882,Indiana Jones and the Kingdom of the Crystal S...,2008,185000000.0,1
16103,tt0407304,War of the Worlds,2005,132000000.0,3
16161,tt0408306,Munich,2005,70000000.0,5
6234,tt0362227,The Terminal,2004,60000000.0,0
10460,tt0264464,Catch Me If You Can,2002,52000000.0,2
10466,tt0181689,Minority Report,2002,102000000.0,1
24277,tt0212720,A.I. Artificial Intelligence,2001,100000000.0,2
19100,tt0120815,Saving Private Ryan,1998,70000000.0,0
28997,tt0118607,Amistad,1997,36000000.0,4
28952,tt0119567,The Lost World: Jurassic Park,1997,73000000.0,1
30050,tt0107290,Jurassic Park,1993,63000000.0,0
30058,tt0108052,Schindler's List,1993,22000000.0,0
8955,tt0102057,Hook,1991,70000000.0,5
9478,tt0096794,Always,1989,31000000.0,0
9451,tt0097576,Indiana Jones and the Last Crusade,1989,48000000.0,0
12500,tt0092965,Empire of the Sun,1987,35000000.0,6
24803,tt0088939,The Color Purple,1985,15000000.0,11
5152,tt0087469,Indiana Jones and the Temple of Doom,1984,28000000.0,0
1500,tt0083866,E.T. the Extra-Terrestrial,1982,10500000.0,0
21750,tt0082971,Raiders of the Lost Ark,1981,18000000.0,0
16622,tt0078723,1941,1979,35000000.0,3
501,tt0075860,Close Encounters of the Third Kind,1977,20000000.0,0
0,tt0073195,Jaws,1975,7000000.0,0
17617,tt0072226,The Sugarland Express,1974,3000000.0,0
26436,tt0059181,Firelight,1964,400.0,0

total: 31 filmes

In [221]:
# Contando quantas linguagens são mais presentes nos filmes
contagem = filmes_df['Languages'].value_counts()

#percentual das linguagens
percentual = filmes_df['Languages'].value_counts(normalize = True) * 100

percentual_df = pd.DataFrame({
    'Frequência': contagem,
    'Porcentagem (%)': percentual
})


percentual_df.head(20) #Porcentagem e qunatidade de filmes em cada língua ou combinação delas

            Frequência  Porcentagem (%)
Languages
English          21228        64.082594
French            1960         5.916803
Italian           1721         5.195315
Hindi             1259         3.800640
Spanish           1061         3.202922
Japanese           998         3.012739
German             750         2.264083
Mandarin           409         1.234680
Cantonese          327         0.987140
Korean             248         0.748657
Swedish            241         0.727525
Danish             228         0.688281
Russian            226         0.682244
Turkish            188         0.567530
Portuguese         183         0.552436
Greek              159         0.479986
Czech              132         0.398479
Polish             111         0.335084
Tamil              110         0.332065
Norwegian           94         0.283765

In [215]:
filmes_df['Languages'] = filmes_df['Languages'].fillna('[]') # Substituir NaN por listas vazias
filmes_df['Languages'] = filmes_df['Languages'].apply(ast.literal_eval)# Converte strings que representam listas em listas reais
filmes_df['Languages'] = filmes_df['Languages'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None) # Extrai o primeiro nome da lista, se a lista não estiver vazia

In [233]:
#Filmes Brasileiros mais premiados

titles = filmes_df.loc[filmes_df['Languages'] == 'Portuguese', 'Title']
years = filmes_df.loc[filmes_df['Languages'] == 'Portuguese', 'Year']
directors = filmes_df.loc[filmes_df['Languages'] == 'Portuguese', 'directors']
oscar = filmes_df.loc[filmes_df['Languages'] == 'Portuguese', 'oscars']

filmesPT_df = pd.DataFrame({
    'Títulos': titles,
    'Diretores': directors,
    'Ano': years,
    'Oscars': oscar
})
#filmesPT_df.set_index() 

filmesPT_df.sort_values(by='Oscars', ascending=False).head(8)

                              Títulos           Diretores   Ano  Oscars
10602                     City of God  Fernando Meirelles  2002       4
19239                 Central Station       Walter Salles  1998       2
13658                  The Given Word      Anselmo Duarte  1962       1
29170          Four Days in September       Bruno Barreto  1997       1
24622                  Behind the Sun       Walter Salles  2001       1
20429           The Boy and the World           Alê Abreu  2013       1
18727  Dona Flor and Her Two Husbands       Bruno Barreto  1976       1
10222                      Waste Land         Lucy Walker  2010       1

In [232]:
filmesPT_df.sort_values(by='Ano', ascending=False).head(8) #Filmes Brasileiros mais recentes

                Títulos                Diretores   Ano  Oscars
8725     I'm Still Here            Walter Salles  2024       0
8784     A Dog's Will 2              Guel Arraes  2024       0
21137  Burning Betrayal            Diego Freitas  2023       0
14414        Tommy Guns         Carlos Conceição  2022       0
14279     The Territory               Alex Pritz  2022       0
23105    The Pink Cloud             Iuli Gerbase  2021       0
23096            Medusa  Anita Rocha da Silveira  2021       0
23035    Private Desert             Aly Muritiba  2021       0

In [178]:
f = pd.crosstab(filmes_df.Year,
                filmes_df['Title'],
                aggfunc = 'mean',
                values = filmes_df['budget'])
display(f.sort_values(by='Year', ascending=False).head(24))

Title,'85: The Greatest Team in Football History,'Round Midnight,'Til There Was You,"'night, Mother",(T)Raumschiff Surprise - Periode 1,*batteries not included,"1,000 Times Good Night",10 Cloverfield Lane,10 Days with Dad,10 Questions for the Dalai Lama,...,Zulu,[Rec]²,eXistenZ,"tick, tick... BOOM!",xXx,xXx: Return of Xander Cage,xXx: State of the Union,Ángel de fuego,Æon Flux,Évocateur: The Morton Downey Jr. Movie
Year,,,,,,,,,,,,,,,,,,,,,
2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,55000000.0,NaN,NaN,NaN,NaN,NaN,NaN
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8500000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,85000000.0,NaN,NaN,NaN,NaN
2016,650000.0,NaN,NaN,NaN,NaN,NaN,NaN,15000000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,NaN,NaN,NaN,NaN,NaN,NaN,5284200.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300000.0
2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5600000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,113000000.0,NaN,62000000.0,NaN
2004,NaN,NaN,NaN,NaN,9000000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70000000.0,NaN,NaN,NaN,NaN,NaN
2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
filmes_df.sort_values(by='Year', ascending=False)

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
8374,tt1684562,The Fall Guy,https://www.imdb.com/title/tt1684562,2024,2h 6m,PG-13,6.9,193K,125000000.0,181073291.0,...,"['Glen A. Larson', 'Drew Pearce']","['Ryan Gosling', 'Emily Blunt', 'Aaron Taylor-...","['Action', 'Comedy', 'Drama', 'Romance']","['United States', 'Australia', 'Canada']","['Sydney, New South Wales, Australia']","['87North', 'Australian Government', 'Entertai...",['English'],0,33,0
8564,tt28082769,September 5,https://www.imdb.com/title/tt28082769,2024,1h 35m,R,7.1,1.2K,NaN,251835.0,...,"['Moritz Binder', 'Tim Fehlbaum', 'Alex David']","['Peter Sarsgaard', 'John Magaro', 'Ben Chaplin']","['Docudrama', 'Period Drama', 'Tragedy', 'Dram...","['Germany', 'United States']","['Munich, Bavaria, Germany']","['BerghausWöbke Filmproduktion', 'Projected Pi...","['English', 'German']",0,23,0
8570,tt32561659,Bocchi the Rock! Re:,https://www.imdb.com/title/tt32561659,2024,1h 30m,NaN,7.6,121,NaN,3530805.0,...,NaN,"['Yoshino Aoyama', 'Sayumi Suzushiro', 'Saku M...","['Anime', 'Coming-of-Age', 'Seinen', 'Slice of...",['Japan'],NaN,"['Aniplex', 'CloverWorks', 'Houbunsha']",['Japanese'],0,0,0
8569,tt10449276,Get Away,https://www.imdb.com/title/tt10449276,2024,1h 26m,R,5.8,327,NaN,179897.0,...,['Nick Frost'],"['Nick Frost', 'Aisling Bea', 'Sebastian Croft']","['Comedy', 'Horror']",['United Kingdom'],"['Tampere, Finland']","['Big Safari', 'Creativity Capital', 'Inland F...",['English'],0,0,0
8568,tt10850320,Luther: Never Too Much,https://www.imdb.com/title/tt10850320,2024,1h 41m,NaN,8.4,232,NaN,202796.0,...,NaN,"['Jamie Foxx', 'Mariah Carey', 'Luther Vandross']","['Biography', 'Documentary', 'Music']","['United Kingdom', 'United States']",NaN,"['Foxxhole Productions', 'Raindog Films', 'Son...",['English'],0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29676,tt0054337,The Haunted Castle,https://www.imdb.com/title/tt0054337,1960,1h 37m,NaN,6.2,598,NaN,NaN,...,"['Günter Neumann', 'Heinz Pauck']","['Liselotte Pulver', 'Heinz Baumann', 'Hanne W...","['Comedy', 'Fantasy', 'Musical']",['West Germany'],"['Aschaffenburg, Bavaria, Germany']",['Georg Witt-Film'],['German'],0,3,0
29675,tt0054351,The Subterraneans,https://www.imdb.com/title/tt0054351,1960,1h 29m,NaN,5.0,355,931724.0,NaN,...,"['Jack Kerouac', 'Robert Thom']","['Leslie Caron', 'George Peppard', 'Janice Rule']",['Drama'],['United States'],"['San Francisco, California, USA']",['Metro-Goldwyn-Mayer (MGM)'],['English'],0,0,0
29674,tt0054296,Seven Ways from Sundown,https://www.imdb.com/title/tt0054296,1960,1h 27m,Approved,6.8,1.3K,500000.0,NaN,...,['Clair Huffaker'],"['Audie Murphy', 'Barry Sullivan', 'Venetia St...","['Classical Western', 'Western']",['United States'],"['Red Rock Canyon, Nevada, USA']",['Universal International Pictures (UI)'],['English'],0,0,0
29673,tt0054122,Night and Fog in Japan,https://www.imdb.com/title/tt0054122,1960,1h 47m,NaN,6.8,898,NaN,NaN,...,"['Toshirô Ishidô', 'Nagisa Ôshima']","['Miyuki Kuwano', 'Fumio Watanabe', 'Masahiko ...",['Drama'],['Japan'],NaN,['Shochiku'],['Japanese'],0,0,0
30002,tt0122461,Un dollaro di fifa,https://www.imdb.com/title/tt0122461,1960,1h 30m,NaN,4.8,38,NaN,NaN,...,"['Mario Guerra', 'Giulio Scarnicci', 'Enzo Tar...","['Ugo Tognazzi', 'Walter Chiari', 'Mario Carot...","['Spaghetti Western', 'Comedy', 'Western']",['Italy'],NaN,['Cineproduzione Emo Bistolfi'],['Italian'],0,0,0